<header>
  <div class="contents">
  <div class="contents__top">
    <div class="contents__top-logo">
      <%= link_to "" do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <form>
      <input type="text" name="NAME" placeholder="何かお探しですか？">
      <i class="fa fa-search"></i>
    </form>
  </div>
  <div class="contents__bottom">
    <div class="contents__bottom-links">
      <ul class="dropdown">
        <li class="dropdown__hover">
          <i class="fa fa-list"><p>カテゴリーから探す</p></i>
          <ul class="dropdown__hover-ul">
            <li class="dropdown__category">
              レディース
              <ul class="dropdown__category-ul">
                <li class="doropdown__items">
                  トップス
                  <ul class="dropdown__items-ul">
                    <li class="doropdown__items-ul-li">Tシャツ/カットソー（半袖/袖なし）</li>
                    <li>Tシャツ/カットソー（七分/長袖）</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </li>
                <li>ジャケット/アウター</li>
                <li>パンツ</li>
                <li>スカート</li>
                <li>ワンピース</li>
                <li>靴</li>
                <li>ルームウェア</li>
                <li>帽子</li>
                <li>バッグ</li>
                <li>アクセサリー</li>
                <li>ヘアアクセサリー</li>
                <li>小物</li>
                <li>時計</li>
              </ul>
            </li>
            <li>メンズ</li>
            <li>ベビー・キッズ</li>
            <li>インテリア・住まい・小物</li>
            <li>本・音楽・ゲーム</li>
            <li>おもちゃ・ホビー・グッズ</li>
            <li>コスメ・香水・美容</li>
            <li>家電・スマホ・カメラ</li>
            <li>スポーツ・レジャー</li>
            <li>ハンドメイド</li>
            <li>チケット</li>
            <li>自動車・オートバイ</li>
            <li>その他</li>
            <li>カテゴリ一覧</li>
          </ul>
        </li>
      </ul>
      <ul class="dropdown">
        <li class="dropdown__hover">
          <i class="fa fa-tag"><p>ブランドから探す</p></i>
          <ul class="dropdown__hover-ul">
            <li>シャネル</li>
            <li>ナイキ</li>
            <li>ルイヴィトン</li>
            <li>シュプリーム</li>
            <li>アディダス</li>
            <li>ブランド一覧</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="contents__bottom-signs">
      <%= link_to "", class:"contents__bottom-signs-up" do %>
        新規会委員登録
      <% end %>
      <%= link_to "", class: "contents__bottom-signs-in" do %>
        ログイン
      <% end %>
    </div>
  </div>
</header>

<div class="slider">
  <div class="slider__wrapper">
      <div class="slider__wrapper-first">
        <%= image_tag "top-banner-main-892151cc75b1f6a1285bf7943c9b933c.jpg" %>
        <div class="slider__wrapper-first-p">
        <p>スマホで  かんたん<br>フリマアプリ</p>
        </div>
        <div class="slider__wrapper-first-p2">
        <p>メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです</p>
        </div>

        <div class="slider__wrapper-first-content">
          <%= image_tag "top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png" %>
          <div class="slider__wrapper-first-content_bannar">
            <%= image_tag "app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg" %>

          </div>
          <div class="slider__wrapper-first-content_bannar2">
            <%= image_tag "google-play-495575abb895b405aa6336b2a4304958.svg" %>
          </div> 
        </div>
        </div>
      </div>
      <div class="slider__wrapper-second">
        <%= image_tag "top-banner-barcode-aacab86f81df6a91d5ef" %>
      </div>
  </div>
</div>

<div class="favorite-category">
  <h2>人気のカテゴリー</h2>
  <div class="favorite-category__list">
    <ul>
      <li>レディース</li>
      <li>メンズ</li>
      <li>家電・スマホ・カメラ</li>
      <li>おもちゃ・ホビー・グッズ</li>
    </ul>
  </div>
</div>

<div class="main">
  <div class="prodacuts">
    <div class="prodacuts__category">
      <h2>新着アイテム</h2>
      <%= link_to "" do %>
        もっと見る
        <i class="fa fa-chevron-right"></i>
      <% end %>
    </div>
    <div class="prodacuts__cards">
      <ul class="prodacuts__cards-block">
        <li class="prodacuts__cards-item">
          <%= link_to "", class: "prodacuts__cards-link" do%>
            <div class="prodacuts__cards-content">
              <%= image_tag "image.jpg" %>
              <p>testitemttttttttttttttttttttt</p>
            </div>
          <% end %>
        </li>
        <li class="prodacuts__cards-item">
          <%= link_to "", class: "prodacuts__cards-link" do%>
            <div class="prodacuts__cards-content">
              <%= image_tag "image.jpg" %>
              <p>testitemttttttttttttttttttttt</p>
            </div>
          <% end %>
        </li>
        <li class="prodacuts__cards-item">
          <%= link_to "", class: "prodacuts__cards-link" do%>
            <div class="prodacuts__cards-content">
              <%= image_tag "image.jpg" %>
              <p>testitemttttttttttttttttttttt</p>
            </div>
          <% end %>
        </li>
        <li class="prodacuts__cards-item">
          <%= link_to "", class: "prodacuts__cards-link" do%>
            <div class="prodacuts__cards-content">
              <%= image_tag "image.jpg" %>
              <p>testitemttttttttttttttttttttt</p>
            </div>
          <% end %>
        </li>
        <li class="prodacuts__cards-item">
          <%= link_to "", class: "prodacuts__cards-link" do%>
            <div class="prodacuts__cards-content">
              <%= image_tag "image.jpg" %>
              <p>testitemttttttttttttttttttttt</p>
            </div>
          <% end %>
        </li>
        <li class="prodacuts__cards-item">
          <%= link_to "", class: "prodacuts__cards-link" do%>
            <div class="prodacuts__cards-content">
              <%= image_tag "image.jpg" %>
              <p>testitemttttttttttttttttttttt</p>
            </div>
          <% end %>
        </li>
        <li class="prodacuts__cards-item">
          <%= link_to "", class: "prodacuts__cards-link" do%>
            <div class="prodacuts__cards-content">
              <%= image_tag "image.jpg" %>
              <p>testitemttttttttttttttttttttt</p>
            </div>
          <% end %>
        </li>
        <li class="prodacuts__cards-item">
          <%= link_to "", class: "prodacuts__cards-link" do%>
            <div class="prodacuts__cards-content">
              <%= image_tag "image.jpg" %>
              <p>testitemttttttttttttttttttttt</p>
            </div>
          <% end %>
        </li>
        <li class="prodacuts__cards-item">
          <%= link_to "", class: "prodacuts__cards-link" do%>
            <div class="prodacuts__cards-content">
              <%= image_tag "image.jpg" %>
              <p>testitemttttttttttttttttttttt</p>
            </div>
          <% end %>
        </li>
        <li class="prodacuts__cards-item">
          <%= link_to "", class: "prodacuts__cards-link" do%>
            <div class="prodacuts__cards-content">
              <%= image_tag "image.jpg" %>
              <p>testitemttttttttttttttttttttt</p>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
